<div *ngIf="id">
    <form [formGroup]="formInformation" (submit)="submit()">
        <h2 class="text-muted">{{name}}</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">€</span>
                    </div>
                    <input type="number" class="form-control" min="0" placeholder="Fee" formControlName="fee">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label pr-0">Start:</label>
                    <div class="col-10 pl-0">
                        <input class="form-control" type="date" formControlName="start" value ="{{ formInformation.get('start').value | date: 'yyyy-MM-dd'}}">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label pr-0">End:</label>
                    <div class="col-10 pl-0">
                        <input class="form-control" type="date" formControlName="end" value ="{{ formInformation.get('end').value | date: 'yyyy-MM-dd'}}">
                    </div>
                </div>
            </div>
        </div>


        <textarea class="form-control bg-light mb-2" style="width: 100%" placeholder="Notes..." rows="5"
                  formControlName="info"></textarea>
        <button class="btn btn-info float-sm-right" type="submit">Save</button>
    </form>
</div>
