<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="assets/images/eduwise-icon2.png" width="80" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<a class="navbar-brand text-info">Eduwisec</a>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLink="/home" class="nav-link text-secondary" *ngIf="statu">Home</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/add" class="nav-link text-secondary" *ngIf="admin || superAdmin">Add/Update</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/users" class="nav-link text-secondary" *ngIf="superAdmin">Users</a>
                </li>
            </ul>

            <a routerLink="/sign-in" class="btn btn-outline-info mr-sm-2" *ngIf="!statu">Sign In</a>
            <a routerLink="/sign-in" (click)="signOut()" class="btn btn-outline-info mr-sm-2" *ngIf="statu">Sign Out</a>
            <a routerLink="/sign-up" class="btn btn-outline-info" *ngIf="superAdmin">Sign Up</a>

        </div>
    </nav>
</div>
