<div class="row">
    <div class="col-5">
        <a class="btn btn-secondary  mt-5 ml-3 btn-block"
           [routerLink]="[{ outlets: {primary: ['country']} }]">Country</a>
        <br>
        <a class="btn btn-secondary mt-2 ml-3 btn-block"
           [routerLink]="[{ outlets: {primary: ['college']} }]">University</a>
        <br>
        <a class="btn btn-secondary mt-2 ml-3 btn-block"
           [routerLink]="[{ outlets: {primary: ['department']} }]">Department</a>
        <br>
        <button class="btn btn-secondary mt-2 ml-3 btn-block" [disabled]="!comment"
                [routerLink]="[{ outlets: {commentAdd: ['information'] } }]">Set Information
        </button>
        <br>
        <button class="btn btn-secondary mt-2 ml-3 btn-block" [disabled]="!comment"
                [routerLink]="[{ outlets: {commentAdd: ['comment'] } }]" *ngIf="superadmin">Comment
        </button>
    </div>
    <div class="col-7">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row mt-5 mx-3" *ngIf="comment">
    <div class="col-12">
        <router-outlet name="commentAdd"></router-outlet>
    </div>
</div>
